:root {
    --background-color: bisque; 
    --text-color: blue; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --background-color: blueviolet; 
    --text-color: lavender; 
}
